body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;  /* Fundal închis pentru întreaga pagină */
  color: #e0e0e0;  /* Text deschis */
  height: 100vh;
  display: flex;
  justify-content: center;  /* Aliniază pe orizontală */
  align-items: center;  /* Aliniază pe verticală */
}

/* Fundalul paginii */
.login-container {
  background-color: #121212;  /* Fundal închis pentru container */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formularul de login */
.login-form {
  background-color: #2c2c2c;  /* Fundal mai deschis pentru formular */
  padding: 30px;
  border-radius: 8px;
  width: 350px; /* Lățimea formularului */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Umbra pentru efect */
}

/* Titlul formularului */
.login-form h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

/* Inputuri */
.login-input {
  padding: 10px;
  margin: 10px 0;
  width: 92%;
  border: 1px solid #ccc;  /* Bordură gri deschis */
  border-radius: 5px;
  background-color: #333;  /* Fundal întunecat pentru input */
  color: #fff;  /* Text alb pentru input */
}

.login-input:focus {
  outline: none;
  border-color: #4CAF50;  /* Bordură verde la focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px auto;
  width: 100%;
}

.login-button {
  background-color: #007bff;  /* Albastru pentru login */
}

.login-button:hover {
  background-color: #0056b3;  /* Albastru mai închis la hover */
}

.register-button {
  background-color: #4CAF50; /* Verde pentru signup */
}

.register-button:hover {
  background-color: #45a049; /* Verde mai închis la hover */
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 92%;
  border: 1px solid #ccc;  /* Bordură gri deschis */
  border-radius: 5px;
  background-color: #333;  /* Fundal întunecat pentru input */
  color: #fff;  /* Text alb pentru input */
}

input:focus {
  outline: none;
  border-color: #4CAF50;  /* Border verde la focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Link pentru a merge la pagina de signup */